<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
    var oper = {
        save:function(id){
            if(!validForm()) {
                return;
            }

            var title = '确认要保存该数据么？';
            var id = $("[name='id']").val() || '0';
            var url = 'system/log/save/'+id;
            var params = $("form").serialize();
            Confirm(title, function() {
                ajax_post(url, params, function (data) {
                    if(data.code==0){
                        closeIframe();
                    } else {
                        ErrorInfo('操作失败：'+data.msg);
                    }
                });
            });
        }
    };
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal"
		role="form" >
	<input type="hidden" name="id" value="${model.id}" />
	<table class="table">
		<%  // 列表头部%>
								<tr>
					<td>类型</td>
					<td>
					<input class="form-control" type="text" name="logType" value="${model.logType }"  valid='vnum_y' validname='类型'  />
											</td>
				</tr>
								<tr>
					<td>操作对象</td>
					<td>
					<input class="form-control" type="text" name="operObject" value="${model.operObject }"  />
											</td>
				</tr>
								<tr>
					<td>操作表</td>
					<td>
					<input class="form-control" type="text" name="operTable" value="${model.operTable }"  valid='vtext' validname='操作表'  />
											</td>
				</tr>
								<tr>
					<td>操作主键</td>
					<td>
					<input class="form-control" type="text" name="operId" value="${model.operId }"  valid='vnum' validname='操作主键'  />
											</td>
				</tr>
								<tr>
					<td>操作类型</td>
					<td>
					<input class="form-control" type="text" name="operType" value="${model.operType }"  />
											</td>
				</tr>
								<tr>
					<td>操作备注</td>
					<td>
					<input class="form-control" type="text" name="operRemark" value="${model.operRemark }"  />
											</td>
				</tr>
								<tr>
					<td>更新时间</td>
					<td>
					<input class="form-control" type="text" name="updateTime" value="${model.updateTime }"  />
											</td>
				</tr>
								<tr>
					<td>更新人</td>
					<td>
					<input class="form-control" type="text" name="updateId" value="${model.updateId }"  valid='vnum' validname='更新人'  />
											</td>
				</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-primary" onclick="oper.save(${model.id});return false;">保 存</button>
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE; 
%>