<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jflyfox.dudu.module.system.dao.DepartmentMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,parentid,name,code,sort,linkman,linkman_no as linkmanNo,remark,update_time as updateTime,update_id as updateId,create_time as createTime,create_id as createId
    </sql>

    <select id="selectDepartmentPage" resultType="com.jflyfox.dudu.module.system.model.SysDepartment">
        <![CDATA[
        select
        t.id,t.parentid,t.name,t.code,t.sort,t.linkman,t.linkman_no as linkmanNo,t.remark
        ,t.update_time as updateTime,t.update_id as updateId,t.create_time as createTime,t.create_id as createId
        ,p.name as parentName,uu.username as updateName,uc.username as createName
        from sys_department t
        left join sys_department p on t.parentid = p.id
        left join sys_user uu on t.update_id = uu.id
        left join sys_user uc on t.create_id = uc.id
        ${ew.sqlSegment}
        ]]>
    </select>

</mapper>