<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jflyfox.dudu.module.system.dao.RolemenuMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,roleid,menuid
    </sql>

    <select id="selectRolemenuPage" resultType="com.jflyfox.dudu.module.system.model.SysRoleMenu">
        <![CDATA[
        select
        t.id,t.roleid,t.menuid
        from sys_role_menu t
        ${ew.sqlSegment}
        ]]>
    </select>

</mapper>