<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jflyfox.dudu.module.system.dao.UserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,uuid,username,password,realname,departid,usertype,status,thirdid,endtime,email,tel,address,title_url as titleUrl,remark,theme,back_site_id as backSiteId,create_site_id as createSiteId,enable,update_time as updateTime,update_id as updateId,create_time as createTime,create_id as createId
    </sql>

    <select id="selectUserPage" resultType="com.jflyfox.dudu.module.system.model.SysUser">
        <![CDATA[
        select
        t.id,t.uuid,t.username,t.password,t.realname,t.departid,t.usertype,t.status,t.thirdid,t.endtime,t.email,t.tel,t.address,t.title_url as titleUrl,t.remark,t.theme,t.back_site_id as backSiteId,t.create_site_id as createSiteId,t.enable,t.update_time as updateTime,t.update_id as updateId,t.create_time as createTime,t.create_id as createId
        ,d.name as departName,uu.username as updateName,uc.username as createName
        from sys_user t
        left join sys_department d on t.departid = d.id
        left join sys_user uu on t.update_id = uu.id
        left join sys_user uc on t.create_id = uc.id
        ${ew.sqlSegment}
        ]]>
    </select>

</mapper>