<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- //favicon.ico小图标名称 -->
<link rel="icon" href="${ctx}/favicon.ico"/>
<link rel="shortcut icon" href="${ctx}/favicon.ico"/>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="${ctx}/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="${ctx}/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="${ctx}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="${ctx}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="${ctx}/statics/css/main.css">
<script src="${ctx}/statics/libs/jquery.min.js"></script>
<script src="${ctx}/statics/plugins/layer/layer.js"></script>
<script src="${ctx}/statics/libs/bootstrap.min.js"></script>
<script src="${ctx}/statics/libs/vue.min.js"></script>
<script src="${ctx}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${ctx}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${ctx}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${ctx}/js/common.js"></script>


<!-- dudu.js -->
<script type="text/javascript" src="${ctx}/resources/js/common/dudu.js"></script>
<!-- 主样式 -->
<link href="${ctx}/resources/css/common/main.css" rel="stylesheet" type="text/css" />